In [1]:
import pandas as pd

df = pd.read_excel('data.xlsx')

In [2]:
sigma = df[df['Sigma max (ton/m^2)'] <= df['Sigma adm (ton/m^2)']]
sigma.head(1)

,Ancho viga (mm),Altura viga (mm),Ancho ala (mm),Altura ala (mm),Ancho alma (mm),Altura alma (mm),Área viga (m^2),Wpp viga (ton/m),Sigma max (ton/m^2),Sigma adm (ton/m^2)
21,500,1000,500,8,32,984,0.039488,0.309981,14291.23416,15180

In [5]:
sigma.loc[sigma['Wpp viga (ton/m)'] == sigma['Wpp viga (ton/m)'].min()]

,Ancho viga (mm),Altura viga (mm),Ancho ala (mm),Altura ala (mm),Ancho alma (mm),Altura alma (mm),Área viga (m^2),Wpp viga (ton/m),Sigma max (ton/m^2),Sigma adm (ton/m^2)
55,500,1000,500,16,6,968,0.021808,0.171193,14691.852394,15180